/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import url(http://allfont.net/allfont.css?fonts=ds-digital);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}