.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 180px;
    margin-top: 10px;
}