.rodape {
	position: absolute;
    bottom: 0;

    /* filter: opacity(90%); */
}

.rodape:hover {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
/* 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
/* 
    filter: opacity(100%); */
}

.text-rodape {
    text-align: center;
}

h4 {
    color: azure;
}