@font-face {
    font-family: 'DS-Digital';
    src: url("./font/ds-digital.ttf");
    font-size: 1em;
} 

.contador {
    font-family: 'DS-Digital';
    font-size: 150px
}

.centralize {
    text-align: left;
    padding-left: 50px;
}

h3 {
    text-align: left;
    padding-left: 50px;
}