@font-face {
    font-family: 'DS-Digital';
    src: url("./font/ds-digital.ttf");
    font-size: 1em;
} 

p {
    font-family: 'DS-Digital';
    font-size: 200px
}

.centralize {
    text-align: center;
}