/* Gerais */
.text {
    color: white;
}

/* Body */

.sideLeft {
    width: 100hv;
    height:90hv;
    background-color: white;
    text-align: center

}

.sideRight {
    width: 100hv;
    height:90vh;
    background-color: #DCDCDC;
}
