<app-app-header></app-app-header>

<div class="row">
    <div class="col-sm-6 sideLeft">
      <app-qr-code></app-qr-code>
    </div>

  <div class="col-sm-6 sideRight">  
    <br><br>
      <h4>Participantes ({{numberOfParticipants}})</h4>
      <div class="alert alert-primary" role="alert" *ngFor="let participante of participantes; let i = index">
        {{participantes[i].name}}  
      </div>
  </div>
</div>

<div class="container-fluid rodape" [style.background-color] = "color ? 'green' : 'gray'">
  <h4 class="text-rodape">Aguardando participantes ...</h4>
</div>