<div class="cabecalho">
  <h4 class="text projectName">{{projectName}}</h4>
  <h5 class="text sprintName">{{sprintName}}</h5>
  <button class="btn btn-danger"><p class="buttonTitle">{{buttonName}}<p></button>
</div>

<div class="row">
    <div class="col-sm-6 sideLeft">
      <br><br>
      <h5>Para Participar é simples</h5>
      <p>Utilize o QR Code abaixo</p>
      <img alt='' src="assets/images/qrcode.jpg" (click)="addParticipants()">
      <p>- OU -</p>
      <a href="http://localhost:4200/home">http://pokerfight.com</a>
      <p>E insira o PIN abaixo</p>
    </div>

  <div class="col-sm-6 sideRight">  
    <br><br>
      <h4>Participantes ({{numberOfParticipants}})</h4>
      <div class="alert alert-primary" role="alert" *ngFor="let participante of participantes; let i = index">
        {{participantes[i].name}}  
      </div>
  </div>
</div>

<div class="container-fluid rodape" [style.background-color] = "color ? 'green' : 'gray'">
  <h4 class="text-rodape">Aguardando participantes ...</h4>
</div>