<div>
        <br><br>
        <h5>Para Participar é simples</h5>
        <p>Utilize o QR Code abaixo</p>
        <img alt='' src="assets/images/qrcode.jpg" (click)="addParticipant()" >
        <p>- OU -</p>
        <a  id="qrCode" href="http://bonstutoriais.com.br/17-exemplos-de-layouts-criativos-no-web-design/">http://pokerfight.com</a>
        <p>E insira o PIN abaixo</p>
        <ul><li *ngFor='let number of numbers'>
                <span  class="numbers">{{number}}</span>
        </li></ul>
</div>
